<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
  <head>
    <!-- TITLE -->
    <title>Casual Distillery</title>
    <!-- META -->
    <meta charset='utf-8'>
    <meta name='author' content='Beau Bouchard'>
    <meta name='description' content='Casual Distillery' />
    <meta name='keywords' content='distillery, nyc, gin, moonshine, whiskey, rum' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <video autoplay loop muted poster="/assets/media/city-first-frame.jpg" id="video-bg" class="transparent">
      <source src="/assets/media/city.webm" type="video/webm">
      <source src="/assets/media/city.mp4" type="video/mp4">
    </video>
    <div id="main"><%- markup -%></div>
    <script src="/assets/js/bundle.js"></script>
  </body>
</html>
